body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.organisation-filter {
  margin-top: 40px;
}

.orgs-list {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  max-height: 300px;
  overflow-y: auto;
}

.orgs-list li {
  padding: 10px 20px;
}
.orgs-list li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.github-content {
  display: flex;
  justify-content: space-between;
}

.github-counters {
  display: flex;
}

.github-counters>.counter {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.counter>span {
  margin-left: 5px;
}

.spinner-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-bottom: none;
  border-right: none;
  border-radius: 50%;
  animation: spin 1s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}